{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{# Recall that parameters passed to the render_template from the "destination function"
will be made available herein.  In this case, one parameter is current_time. #}

{#
There's a lot of stuff done under the covers to bind a value to the
name current_user.
See Grinberg's chapter 8, "Understandng How Flask-Login Works"
#}

{% block page_content %}
<div class="page-header">
  <h1>Hello,
    {% if current_user.is_authenticated %}
      {{ current_user.username }}
    {% else %}
      Stranger
    {% endif %}!
    </h1>
  {% if not known %}
  <p>Pleased to meet you!</p>
  {% else %}
  <p>Happy to see you again!</p>
  {% endif %}
  {# Render the passed-in form: #}
  {{ wtf.quick_form(form) }}
  
  <p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
  <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
</div>
N.B. the absolute address of this page is:
  <a href="{{ url_for('.index', _external=True) }}">{{ url_for('.index', _external=True) }}</a>
{% endblock %}
